@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background:white;
  --text:black;
}
* {
  box-sizing: border-box;
}

body {
  background-color:var(--background) ;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
